<ul>
  {{#each page.article}}
    <li>
      {{!-- si es el primer elemento del each --}}
      {{#if @first}} first {{/if}}

        {{!-- si es el último elemento del each --}}
      {{#if @last}} last {{/if}}

      {{!-- variable index del each --}}
      {{text}} Index -->{{@index}}
      {{#is link ""}}
        <a href="#">Enlace</a>
      {{else}}
        <span>Sin enlace</span>
      {{/is}}

      {{!-- each dentro de each --}}
      <ul>
        {{#each numbers}}
          <li>
            {{number}}
            {{!-- subir al padre y coger un dato --}} {{../text}}
            {{!-- subir al raiz y coger un dato --}} {{../../page.pepe}}
            {{!-- subir al raiz y coger un dato --}} {{../../global.pepe}}

          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
