<div id="experiencia" class="container">
    <section class="col-md-6">
        <h2 class="section-heading text-center">Experiencia</h2>
        <ul class="timeline">
            {{#each experiencia.laboral}}
            <li class="timeline-inverted">
                <div class="timeline-heading">
                    <h4>
                        <small>{{fechas}} | </small>
                        {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
                            {{empresa}}
                        {{#if link}}</a>{{/if}}
                    </h4>
                    <h4 class="subheading">{{puesto}}</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">{{ciudad}}.</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </section>

    <!-- Educacion -->
    <section class="col-md-6">
        <h2 class="section-heading text-center">Formación</h2>
        <ul class="timeline">

            {{#each experiencia.formacion}}
            <li class="timeline-inverted">
                <div class="timeline-heading">
                    <h4>
                        <small>{{fechas}}</small>
                    </h4>
                    <h4 class="subheading">{{titulo}}</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">{{universidad}}
                        <br> {{ciudad}}
                    </p>
                    {{#if reconocimientos}}
                        <p class="text-muted"> 
                            <b>Reconocimientos:</b> {{reconocimientos}}.
                        </p>
                    {{/if}}
                    {{#if tesis}}
                        <p class="text-muted">
                            <b>Tesis:</b>
                            <a href="http://catarina.udlap.mx/u_dl_a/tales/documentos/ldf/walker_r_mf/indice.html"
                                target="_blank">{{tesis}}</a>.
                        </p>
                    {{/if}}
                </div>
            </li>
            {{/each}}

        </ul>
    </section>
</div>