<div id="experiencia" class="container">
    <section class="col-md-6">
        <h2 class="section-heading text-center">Experience</h2>
        <ul class="timeline">
            {{#each experiencia.laboral}}
            <li class="timeline-inverted">
                <div class="timeline-heading">
                    <h4>
                        <small>{{fechas}} | </small>
                        {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
                            {{empresa}}
                        {{#if link}}</a>{{/if}}
                    </h4>
                    <h4 class="subheading">{{puesto_eng}}</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">{{ciudad_eng}}.</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </section>

    <!-- Educacion -->
    <section class="col-md-6">
        <h2 class="section-heading text-center">Education</h2>
        <ul class="timeline">

            {{#each experiencia.formacion}}
            <li class="timeline-inverted">
                <div class="timeline-heading">
                    <h4>
                        <small>{{fechas}}</small>
                    </h4>
                    <h4 class="subheading">{{titulo_eng}}</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">{{universidad}}
                        <br> {{ciudad_eng}}
                    </p>
                    {{#if scolarship}}
                        <p class="text-muted"> 
                            <b>Scolarship:</b> {{scolarship}}.
                        </p>
                    {{/if}}
                    {{#if tesis}}
                        <p class="text-muted">
                            <b>Tesis:</b>
                            <a href="http://catarina.udlap.mx/u_dl_a/tales/documentos/ldf/walker_r_mf/indice.html"
                                target="_blank">{{tesis_eng}}</a>.
                        </p>
                    {{/if}}
                </div>
            </li>
            {{/each}}

        </ul>
    </section>
</div>