<section id="sobremi">
    <div class="container">
        <div class="row  presentacion">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Ma. Fernanda Walker Reed</h3>
                <h3 class="section-subheading text-muted">Diseño de producto digital | Diseño de información visual</h3>
                <p class="col-md-6 col-lg-6 text-left">
                    Estudié una licenciatura en <b>Diseño de Información</b> y un Máster en <b>Diseño de Interacción y Multimedia</b>, en ambos pude conocer el UCD y comprender que <b>ningún producto de diseño tiene sentido si no responde a las necesidades de su usuario</b>.
                </p>
                <p class="col-md-6 col-lg-6 text-left">
                    Tengo más de 10 años de experiencia dirigiendo y desarrollando proyectos de diseño, sobre todo de interfaces web, poniendo en práctica un proceso de diseño que involucra el conocimiento no solo de las necesidades del propio proyecto, sino de las personas que interactúan con el producto final.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Especialidades</h4>
                <p class="text-muted">
                    UX/UI, diseño de producto digital, diseño centrado en el usuario, diseño de información visual, responsive design, arquitectura de información, interacción, usabilidad, wireframing, maquetación.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Herramientas</h4>
                <p class="text-muted">
                    Figma, Adobe XD, Balsamiq, Miro, Illustrator, Photoshop, InDesign, HTML5, CSS3, LESS, SASS, Bootstrap, Wordpress, Jira, Confluence.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Aptitudes</h4>
                <p class="text-muted">
                    Procesos de diseño, análisis de información, estrategia, research, agile, dirección de proyectos, trato con el cliente.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-md-push-1">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Código</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span>HTML5</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span>CSS3</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span>javascripy</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-push-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Idiomas</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span>Español (nativo)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        <span>Inglés (B2)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center proceso">
            <div class="col-md-12 col-lg-12">
                <h3>Proceso de Diseño</h3>
                <img src="img/DesignProcess-Esp.png" style="display: inline-block; max-width: 700px; width: 100%;">
            </div>
            <div class="col-md-6 col-lg-6 text-left">
                <p>En cada proyecto empleo un <b>proceso de diseño centrado en el usuario</b>.</p>
                <p>Este proceso no es líneal, 
                sino que se compone de <b>distintas fases iterativas</b>, que aportan una metodología ágil y 
                que ayudan a tener una mayor comprensión tanto del proyecto como de las personas:
                </p>
                <br>
                <h4>EMPATIZAR</h4>
                <p>Antes de pensar en soluciones, es importante comprender los <b>objetivos y necesidades</b>. 
                Para ello se recopila toda la información necesaria que nos ayude a entender el <b>¿por qué?, 
                ¿para qué? y ¿para quién?</b>.</p>
                <p>La empatía es crucial para un proceso de diseño centrado 
                en las personas.</p>
                <br>
                <h4>DEFINIR</h4>
                <p>Una vez obtenida y entendida la información, se decide en dónde poner el <b>foco de acción 
                para aportar valor real</b>.</p>
                <p>Es momento de <b>priorizar, planificar y definir </b>los problemas o necesidades que iremos 
                solventando.</p> 
            </div>
            <div class="col-md-6 col-lg-6 text-left">
                <h4>IDEAR</h4>
                <p><b>Se exploran diferentes ideas con la mayor agilidad posible</b>, sin detenerse 
                en la perfección del diseño visual. Para ello se utilizan herramientas como wireframes o 
                prototipos sencillos, que ayuden a <b>mostrar lo propuesto y recibir feedback 
                y validación</b>.</p>
                <br>
                <h4>ESPECIFICAR</h4>
                <p>Una vez que se ha recibido feedback y validación, es tiempo de crear los mockups (diseños hi-fi), 
                junto con todas las <b>especificaciones y guías para que el equipo de desarrollo pueda trabajar</b>
                en llevar a la realidad los diseños.</p> 
                <br>
                <h4>RESEARCH/TEST</h4>
                <p>Es muy importante analizar y <b>escuchar tanto a los usuarios
                como a los distintos stakeholders</b> durante todo el proceso para obtener una comprensión 
                más profunda de sus problemas y necesidades. Así mismo, es fundamental <b>testear las propuestas y desarrollos</b>, para 
                asegurar que se construyendo algo usable, deseable y que aporte valor real.
                </p>
            </div>
        </div>
    </div>
</section>