<section id="sobremi">
    <div class="container">
        <div class="row presentacion">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Ma. Fernanda Walker Reed</h3>
                <h3 class="section-subheading text-muted">Digital Product Design | Visual Information Design</h3>
                <p class="col-md-6 col-lg-6 text-left">
                    I've studied a BA in <b>Information Design</b> and a Master in <b>Interaction and Multimedia Design</b>. In both I learned the importance of UCD and understand that <b>no product design makes sense if it does not meet the needs of its user</b>.
                </p>
                <p class="col-md-6 col-lg-6 text-left">
                    I have more than 10 years of experience managing and developing design projects, especially web interfaces; implementing a design process that involves not only the project needs, but also, and more important, the needs of the user who interacts with it.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Specialties</h4>
                <p class="text-muted">
                    UX/UI, digital product design, user-centered design, visual information design, responsive design, Information Architecture, Interaction, Usability, Wireframing, Layout, Responsive Design.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Tools</h4>
                <p class="text-muted">
                    Figma, Adobe XD, Balsamiq, Miro, Illustrator, Photoshop, InDesign, HTML5, CSS3, LESS, SASS, Bootstrap, Wordpress, Jira, Confluence.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Skills</h4>
                <p class="text-muted">
                    Design processes, information analysis, research, strategic design, agile, project management, dealing with clients.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-md-push-1">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Code</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span>HTML5</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span>CSS3</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        <span>javascript</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-push-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Languagues</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span>Spanish (native)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                        <span>English (B2)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center proceso">
            <div class="col-md-12">
                <h3>Design Process</h3>
                <img src="img/DesignProcess-Eng.png" style="display: inline-block; max-width: 700px; width: 100%;">
            </div>
            <div class="col-md-6 col-lg-6 text-left">
                <p>In each project I apply a <b>user-centered design process</b>.</p>
                <p>This process is not linear, rather it is composed of <b>different iterative phases</b>, 
                which provide an agile methodology and help to have a better understanding of both the project 
                and the users:
                </p>
                <br>
                <h4>EMPATHIZE</h4>
                <p>Before thinking about solutions, it's important to understand the <b>objectives and needs</b>. 
                all the necessary information is obtained to help us the <b>why, what for and for whom</b>.</p>
                <p>Empathy is crucial for a human-centered design process.</p>
                <br>
                <h4>DEFINE</h4>
                <p>Once the information is obtained and understood, it's decided 
                <b>where to focus the action in order to provide real value</b>. 
                It's time to prioritize, plan and define </b>the problems or needs to be solved.</p> 
            </div>
            <div class="col-md-6 col-lg-6 text-left">
                <h4>IDEATE</h4>
                <p><b>Different ideas are explored with agility</b>, and without stopping at the perfection of the visual design. 
                For this purpose, tools such as wireframes or simple prototypes are used, which help to 
                <b>show what is proposed and to receive feedback and validation</b>.</p>
                <br>
                <h4>SPECIFY</h4>
                <p>Once feedback and validation has been received, it's time to create the mockups (hi-fi designs), 
                along with all the <b>specifications and guidelines so that the development team can work</b>
                on bringing the designs to reality.</p> 
                <br>
                <h4>RESEARCH/TEST</h4>
                <p>It's very important to analyze and <b>listen to both users and stakeholders</b> 
                throughout the process to gain a deeper understanding of their problems and needs. 
                Likewise, it's essential to <b>he proposals and developments</b>, to ensure that something usable, 
                desirable and that provides real value is being built.
                </p>
            </div>
        </div>
    </div>
</section>