<li class="timeline-inverted">
    <div class="timeline-heading">
        <h4>
            <small>{{fechas}}</small>
            <a href="{{link}}" target="_blank">{{empresa}}</a>
        </h4>
        <h4 class="subheading">{{puesto}}</h4>
    </div>
    <div class="timeline-body">
        <p class="text-muted">{{ciudad}}</p>
    </div>
</li>