<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 portfolio-item">
  <a href="#{{id}}" class="portfolio-link" data-toggle="modal">
      <div class="portfolio-hover">
          <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
          </div>
      </div>
      <img src="img/portfolio/{{id}}-preview.
      {{~#if extension}}
        {{~extension}}
      {{~^~}} 
        png
      {{~/if~}}"
      class="img-responsive" alt="">
  </a>
  <div class="portfolio-caption">
      <h4>{{nombre}}</h4>
      <p class="text-muted">{{titulo}}</p>
  </div>
</div>