/* Icons */

.icon-arrow-right {
  max-width: 24px;
  max-height: 24px;
}
.semaforo {
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
