body {
	overflow-x: hidden;
	font-family: $font_0, $font_1, $font_2, sans-serif;
	webkit-tap-highlight-color: $brand-primary;
}

.text-muted {
	color: $gray;
}
.text-primary {
	color: $brand-primary;
}
p {
	font-size: 14px;
	line-height: 1.75;
	&.large {
		font-size: 16px;
	}
}
a {
	outline: none;
	&:hover,
	&:focus,
	&:active,
	&.active {
		outline: none;
	}
	color: $brand-primary;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: #0b657b;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font_0, $font_1, $font_2, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

img {
	&::selection,
	&::-moz-selection {
		background: transparent;
	}
}
.img-centered {
	margin: 0 auto;
}
.bg-light-gray {
	background-color: $gray-lighter;
}
.bg-darkest-gray {
	background-color: $gray-darkest;
}

.btn {
	&:focus,
	&:active,
	&.active,
	&:active:focus {
		outline: none;
	}
}

.btn-primary {
	color: white;
	background-color: $brand-primary;
	border-color: $brand-primary;
	font-family: $font_0, $font_1, $font_2, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: white;
		background-color: #0b657b;
		border-color: #0a5e72;
	}
	.badge {
		color: $brand-primary;
		background-color: white;
	}
}
.btn-primary {
	&:active,
	&.active {
		background-image: none;
	}
}
.btn-primary {
	&.disabled,
	&[disabled],
	&.disabled:hover,
	&[disabled]:hover,
	&.disabled:focus,
	&[disabled]:focus,
	&.disabled:active,
	&[disabled]:active,
	&.disabled.active,
	&[disabled].active {
		background-color: $brand-primary;
		border-color: $brand-primary;
	}
}

.open .dropdown-toggle.btn-primary {
	color: white;
	background-color: #0b657b;
	border-color: #0a5e72;
	background-image: none;
}

fieldset[disabled] {
	.btn-primary,
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active {
		background-color: $brand-primary;
		border-color: $brand-primary;
	}
}

.btn-xl {
	color: white;
	background-color: $brand-primary;
	border-color: $brand-primary;
	font-family: $font_0, $font_1, $font_2, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 15px;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: white;
		background-color: #0b657b;
		border-color: #0a5e72;
	}
	&:active,
	&.active {
		background-image: none;
	}
}
.btn-xl {
	&.disabled,
	&[disabled],
	&.disabled:hover,
	&[disabled]:hover,
	&.disabled:focus,
	&[disabled]:focus,
	&.disabled:active,
	&[disabled]:active,
	&.disabled.active,
	&[disabled].active {
		background-color: $brand-primary;
		border-color: $brand-primary;
	}
	.badge {
		color: $brand-primary;
		background-color: white;
	}
}

.open .dropdown-toggle.btn-xl {
	color: white;
	background-color: #0b657b;
	border-color: #0a5e72;
	background-image: none;
}

fieldset[disabled] {
	.btn-xl,
	.btn-xl:hover,
	.btn-xl:focus,
	.btn-xl:active,
	.btn-xl.active {
		background-color: $brand-primary;
		border-color: $brand-primary;
	}
}

.progress-bar {
	text-align: left;
	background-color: $gray-darkest;
	span {
		padding-left: 15px;
	}
}

section {
	padding: 100px 0;
	h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}
	h3.section-subheading {
		font-size: 16px;
		text-transform: none;
		font-weight: 400;
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {
	section {
		padding: 100px 0 50px;
	}
}

.service-heading {
	margin: 15px 0;
}
aside.clients img {
	margin: 50px auto;
}

::-moz-selection,
 ::selection {
	text-shadow: none;
	background: $brand-primary;
}


#top-link-block {
	&.affix-top {
		position: absolute;
		/* allows it to "slide" up into view */
		bottom: -82px;
		right: 10px;
	}
	&.affix {
		position: fixed;
		/* keeps it on the bottom once in view */
		bottom: 18px;
		right: 10px;
		font-size: 2em;
		z-index: 1000;
		.well-sm {
			padding: 8px 11px;
			border-radius: 50px;
		}
	}
}