/* Common styles */
.cursor-pointer {
  cursor: pointer;
}

.col-padding{
  &--left0{
    padding-left: 0;
  }
  &--right0{
    padding-right: 0;
  }
}

/* padding */
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-left-40 {
    padding-left: 40px;
}

.padding-left-150 {
    padding-left: 150px;
}


/* margin */
.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-h--10 {
  margin-left: -10px;
  margin-right: -10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* BG`s */
.bg-gray {
  background-color: #f0f2f3;
  padding: 10px 5px;
}

/* Borders */

.border-left-white-1 {
    border-left: 1px solid #fff;
}
.border-left-white-2 {
    border-left: 2px solid #fff;
}

@media (max-width: $screen-xs-max){

  .padding-xs-left-0{
    padding-left: 0;
  }
}

@media (min-width: $screen-md-min){
  .col--padding{
    &--md--left0{
      padding-left: 0;
    }
  }
}
