a, button, input, .btn, .cb_option, :focus{
  &:focus{
    // outline: 2px solid $outline-color;
  }
}


.mouseNavigation{
  :focus ,a, button, input, .select2-selection, .cb_option{
    &:focus{
      outline: 0px;
    }
  }
}
