@function em($target, $context: $font-base) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}

@mixin navbar-shadow{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
@mixin navbar-collapse-shadow{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.45);
}
@mixin btn-header-shadow{
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}
