$screen-md:                  	1050px;
$screen-lg:                  	20000px;

$grid-gutter-width:         	30px;

$container-desktop:            	(970px + $grid-gutter-width);
$container-tablet:            	100%;
$container-large-desktop:      	(970px + $grid-gutter-width);


$font-family-base: 'Libre Franklin', sans-serif;
