$brand-primary: #0F8CAA;
$brand-danger: #9F1B3D;
$gray-darkest: #0D4556;
$gray: #777;
$gray-lighter: #E6E6E6;
$placeholder-text: #bbbbbb;

$font_0: "Montserrat";
$font_1: "Helvetica Neue";
$font_2: Helvetica;
$font_3: "Kaushan Script";

//urls
//$url_0: url(../img/header-bg.jpg);
//$url_1: url(../img/map-image.png);
