    <!--{{!> footer }}-->
		<footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://www.linkedin.com/in/fernandawalker" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.behance.net/ferwalker" target="_blank">
                                <i class="fa fa-behance"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/fer_walker" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <br>©<script>document.write(new Date().getFullYear())</script> María Fernanda Walker Reed
                </div>
            </div>
        </div>
    </footer>
		<!-- PORTFOLIO MODALS -->
        {{#each portfolio-modals.proyectos.web}}
            {{>portfolio-modals_eng}} 
        {{/each}}
        {{#each portfolio-modals.proyectos.info}}
            {{>portfolio-modals_eng}} 
        {{/each}}
		
		<!-- /PORTFOLIO MODALS -->
		<!-- child of the body tag -->
    <span id="top-link-block" class="hidden">
        <a href="#top" id="backToTopBtn" class="well well-sm">
            <i class="fa fa-arrow-up"></i>
        </a>
    </span><!-- /top-link-block -->
		<!-- SCRIPTS -->
		{{>scripts}}
		<!-- /SCRIPTS -->
	</body>
</html>
