<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>otro header</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- STYLES -->
        <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- /STYLES -->

    </head>

    <!--[if IE 8]>  <!--> <body class="ie8">    <!--<![endif]-->
    <!--[if IE 9]>    <!--> <body class="ie9">    <!--<![endif]-->
    <body>

    {{!> header}}
