<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Diseño y desarrollo web | Diseño de información visual">
      <meta name="author" content="Fernanda Walker">
      <meta name="theme-color" content="#0d4556">
      <title>Fernanda Walker - Portfolio</title>
      <!-- STYLES -->
      <!-- build:css(.tmp) /styles/main.css -->
      <link rel="stylesheet" href="css/styles.css">

      <!-- Custom Fonts -->
      <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- /STYLES -->
    </head>

    <!--[if IE 8]>   <body class="ie8">    <![endif]-->
    <!--[if IE 9]>   <body class="ie9">    <![endif]-->
    <body id="page-top" class="index">

    <!--{{!> header}}-->
