#portfolio {
	ul.nav.nav-tabs {
	  text-align: center;
	}
	.nav-tabs > li {
	  float: none;
	  display: inline-block;
	  &.active > a {
		background-color: $gray-lighter;
	  }
	}
	div.tab-pane {
	  padding-top: 30px;
	  padding-bottom: 80px;
	}
	.portfolio-item {
	  margin: 0 0 15px;
	  right: 0;
	  padding: 20px 20px 0;
	  .portfolio-link {
		display: block;
		position: relative;
		max-width: 400px;
		margin: 0 auto;
		.portfolio-hover {
		  background: rgba(15, 140, 170, 0.9);
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  opacity: 0;
		  transition: all ease 0.5s;
		  -webkit-transition: all ease 0.5s;
		  -moz-transition: all ease 0.5s;
		  &:hover {
			opacity: 1;
		  }
		  .portfolio-hover-content {
			position: absolute;
			width: 100%;
			height: 20px;
			font-size: 20px;
			text-align: center;
			top: 50%;
			margin-top: -12px;
			color: white;
			i {
			  margin-top: -12px;
			}
			h3, h4 {
			  margin: 0;
			}
		  }
		}
	  }
	  .portfolio-caption {
		max-width: 400px;
		margin: 0 auto;
		background-color: white;
		text-align: center;
		padding: 15px 5px;
		h4 {
		  text-transform: none;
		  margin: 0;
		}
		p {
		  font-size: 12px;
		  margin: 0;
		}
	  }
	}
	* {
	  z-index: 2;
	}
  }
  
  @media (min-width: 767px) {
	#portfolio .portfolio-item {
	  margin: 0 0 30px;
	}
  }
  
  @media (max-width: 480px) {
	#portfolio .portfolio-item {
	  padding: 5px 8px 0;
	  p {
		line-height: 110%;
	  }
	  h4 {
		font-size: 1em;
		padding-bottom: 2px;
	  }
	  .portfolio-caption {
		min-height: 60px;
		padding: 10px 5px 5px;
	  }
	}
  }

  .portfolio-modal {
	.modal-content {
	  border-radius: 0;
	  background-clip: border-box;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border: none;
	  min-height: 100%;
	  padding: 20px 0;
	  text-align: center;
	  background-color: rgba(0, 0, 0, 0.6);
	  .modal-body {
		background: #fff;
	  }
	  h2 {
		margin-bottom: 15px;
		font-size: 3em;
		text-transform: none;
	  }
	  p {
		margin-bottom: 30px;
		padding: 0 60px;
		&.item-intro {
		  margin: 20px 0 30px;
		  font-style: italic;
		  font-size: 16px;
		}
	  }
	  ul.list-inline {
		margin-bottom: 30px;
		margin-top: 0;
	  }
	  img:last-of-type {
		margin-bottom: 30px;
	  }
	}
	.close-modal {
	  position: fixed;
	  width: 40px;
	  height: 40px;
	  background-color: transparent;
	  top: 10px;
	  right: 25px;
	  cursor: pointer;
	  z-index: 1000;
	  background: #fff;
	  border-radius: 50px;
	  &:hover {
		opacity: 0.6;
	  }
	  .lr {
		height: 30px;
		width: 2px;
		margin-left: 19px;
		margin-top: 5px;
		background-color: #000;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		/* IE 9 */
		-webkit-transform: rotate(45deg);
		/* Safari and Chrome */
		z-index: 1051;
		.rl {
		  height: 30px;
		  width: 2px;
		  background-color: #000;
		  transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
		  /* IE 9 */
		  -webkit-transform: rotate(90deg);
		  /* Safari and Chrome */
		  z-index: 1052;
		}
	  }
	}
	.modal-backdrop {
	  opacity: 0;
	  display: none;
	}
  }
  
  @media (max-width: 768px) {
	.portfolio-modal .modal-content p {
	  padding: 0 5px;
	  font-size: .95em;
	}
  }