.timeline {
	list-style: none;
	padding: 0;
	position: relative;
	padding-left: 30px;
	border-left: 2px solid #ccc;
	margin-left: 20px;
	> li {
	  position: relative;
	  min-height: 50px;
	  margin-bottom: 20px;
	  &:before {
		content: " ";
		display: table;
	  }
	  &:after {
		content: " ";
		display: table;
		clear: both;
	  }
	  .timeline-panel {
		width: 100%;
		float: right;
		padding: 0 20px 0 100px;
		position: relative;
		text-align: left;
		&:before {
		  border-left-width: 0;
		  border-right-width: 15px;
		  left: -15px;
		  right: auto;
		}
		&:after {
		  border-left-width: 0;
		  border-right-width: 14px;
		  left: -14px;
		  right: auto;
		}
	  }
	  &.timeline-inverted > .timeline-panel {
		float: right;
		text-align: left;
		padding: 0 20px 0 100px;
		&:before {
		  border-left-width: 0;
		  border-right-width: 15px;
		  left: -15px;
		  right: auto;
		}
		&:after {
		  border-left-width: 0;
		  border-right-width: 14px;
		  left: -14px;
		  right: auto;
		}
	  }
	  &:last-child {
		margin-bottom: 0;
	  }
	}
	.timeline-heading h4 {
	  margin-top: 0;
	  color: inherit;
	  text-transform: none;
	  line-height: 1.3;
	  margin-bottom: 0;
	  &.subheading {
		text-transform: none;
	  }
	}
	.timeline-body > {
	  p, ul {
		margin-bottom: 0;
		line-height: 1.3;
	  }
	}
  }
  
  @media (max-width: 500px) {
	.timeline {
	  padding-right: 10px;
	  .timeline-heading h4 {
		font-size: 1.1em;
		&.subheading {
		  font-size: 1.2em;
		}
	  }
	}
  }
  
  @media (min-width: 768px) {
	.timeline {
	  &:before {
		left: 50%;
	  }
	  > li {
		margin-bottom: 40px;
		.timeline-panel {
		  width: 41%;
		  float: left;
		  padding: 0 20px 20px 30px;
		  text-align: right;
		}
		&.timeline-inverted > .timeline-panel {
		  float: right;
		  text-align: left;
		  padding: 0 30px 20px 20px;
		}
	  }
	}
  }
  
  @media (min-width: 992px) {
	.timeline > li {
	  .timeline-panel, &.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	  }
	}
  }
  
  @media (min-width: 1200px) {
	.timeline > li {
	  .timeline-panel {
		padding: 0 20px 20px 100px;
	  }
	  &.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	  }
	}
  }