---
title: Index
---


<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                    <span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll milogo" href="#page-top" style="margin:0;padding:0;">
                    <img class="obscuro" src="img/logo.png"><img class="claro" src="img/logo2.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#sobremi">Sobre mí</a></li>
                    <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                    <li><a class="page-scroll" href="#experiencia">Experiencia</a></li>
                    <li><a class="page-scroll" href="#contacto">Contacto</a></li>
                    <li><a class="page-scroll" href="http://blog.fernandawr.com" target="_blank">Blog</a></li>
                    <li><a class="page-scroll languague" href="index_eng.html">English</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">--> 
                <div class="intro-heading">Diseñadora de producto digital</div>
            </div>
        </div>
    </header>  

    <!-- Sobre mí -->
    {{>sobre-mi}}
    <!-- Portfolio -->
    {{>portfolio-section}}
    <!-- Experiencia -->
    {{>experiencia}}
    <!-- Contact Section -->
    {{>contacto}}
