footer {
	padding: 25px 0;
	span.copyright {
	  line-height: 40px;
	  font-family: $font_0, $font_1, $font_2, sans-serif;
	  text-transform: uppercase;
	  text-transform: none;
	}
	ul.quicklinks {
	  margin-bottom: 0;
	  line-height: 40px;
	  font-family: $font_0, $font_1, $font_2, sans-serif;
	  text-transform: uppercase;
	  text-transform: none;
	}
	.text-right {
	  padding-top: 20px;
	}
  }
  
  @media (max-width: 768px) {
	footer {
	  text-align: center;
	  .text-right {
		text-align: center;
	  }
	}
  }

  ul.social-buttons {
	margin-bottom: 0;
	li {
	  text-align: center;
	  a {
		display: block;
		background-color: $gray-darkest;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		font-size: 20px;
		line-height: 40px;
		color: white;
		outline: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		&:hover, &:focus, &:active {
		  background-color: $brand-primary;
		}
	  }
	}
  }