header {
	background-image: url('../img/header-bg.jpg');
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
	img {
	  margin: auto;
	}
	.intro-text {
	  padding-top: 50px;
	  padding-bottom: 50px;
	  .intro-lead-in {
		font-size: 1em;
		line-height: 22px;
		margin-bottom: 25px;
	  }
	  .intro-heading {
		font-family: $font_0, $font_1, $font_2, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.2em;
		line-height: 50px;
	  }
	}
  }
  
  @media (min-width: 768px) {
	header .intro-text {
	  padding-top: 350px;
	  padding-bottom: 350px;
	  .intro-lead-in {
		font-style: italic;
		font-size: 1.2em;
		line-height: 40px;
		margin-bottom: 25px;
	  }
	  .intro-heading {
		font-family: $font_0, $font_1, $font_2, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;
		line-height: 75px;
	  }
	}
  }
  
  @media (max-width: 768px) {
	.navbar-default .navbar-brand img {
	  &.claro {
		display: block;
		max-width: 100px;
		padding: 10px;
	  }
	  &.obscuro {
		display: none;
	  }
	}
	header .container {
	  min-height: 400px;
	  .intro-text {
		padding-top: 130px;
		img {
		  max-width: 100px;
		}
	  }
	}
  }

  .navbar-default {
	background-color: $gray-darkest;
	border-color: transparent;
	.navbar-brand {
	  color: $brand-primary;
	  font-family: $font_3, $font_1, $font_2, cursive;
	  &:hover, &:focus, &:active, &.active {
		color: #0b657b;
	  }
	  img.claro {
		display: none;
		width: 70px;
		margin-top: 10px;
	  }
	}
	.navbar-collapse {
	  border-color: rgba(255, 255, 255, 0.02);
	}
	.navbar-toggle {
	  background-color: $brand-primary;
	  border-color: $brand-primary;
	  .icon-bar {
		background-color: white;
	  }
	  &:hover, &:focus {
		background-color: $brand-primary;
	  }
	}
	.nav li a {
	  padding: 5px 0;
	  margin: 10px 10px 0;
	  font-family: $font_0, $font_1, $font_2, sans-serif;
	  text-transform: uppercase;
	  font-weight: 400;
	  letter-spacing: 1px;
	  color: white;
	  &:hover, &:focus {
		color: #fff;
		outline: none;
		border-bottom: #fff solid 2px;
	  }
	  &.languague {
		text-transform: none !important;
		font-size: .9em;
		opacity: .8;
		letter-spacing: 0;
	  }
	}
	.navbar-nav > .active > a {
	  border-radius: 0;
	  color: white;
	  padding-left: 10px;
	  padding-right: 10px;
	  background-color: $brand-primary;
	  &:hover, &:focus {
		color: white;
		background-color: #0b657b;
	  }
	}
  }
  
  @media (min-width: 768px) {
	.navbar-default {
	  background-color: transparent;
	  padding: 25px 0;
	  -webkit-transition: padding 0.3s;
	  -moz-transition: padding 0.3s;
	  transition: padding 0.3s;
	  border: none;
	  .navbar-brand {
		font-size: 2em;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	  }
	  .navbar-nav > .active > a {
		border-radius: 3px;
	  }
	  .navbar-right {
		margin-right: 0;
	  }
	  &.navbar-shrink {
		background-color: $gray-darkest;
		padding: 0;
		img {
		  &.obscuro {
			display: none;
		  }
		  &.claro {
			display: inherit;
		  }
		}
		.navbar-brand {
		  font-size: 1.5em;
		}
	  }
	}
  }