<section id="portfolio">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Portfolio</h2>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#web" aria-controls="web" role="tab" data-toggle="tab">UI / UX / Web</a></li>
        <li role="presentation"><a href="#visual" aria-controls="visual" role="tab" data-toggle="tab">Information Design</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content bg-light-gray">
        <div role="tabpanel" class="tab-pane active" id="web">
            <div class="container">
                <div class="row">
                    {{#each portfolio-modals.proyectos.web}}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 portfolio-item">
                    <a href="#{{id}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{id}}-preview.{{extension}}"
                        class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{nombre}}</h4>
                        <p class="text-muted">{{titulo_eng}}</p>
                    </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="visual">
            <div class="container">
                <div class="row">
                    {{#each portfolio-modals.proyectos.info}}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 portfolio-item">
                    <a href="#{{id}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{id}}-preview.{{extension}}"
                        class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{nombre}}</h4>
                        <p class="text-muted">{{titulo_eng}}</p>
                    </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
