<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
          <div class="lr">
              <div class="rl">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2>{{nombre}}</h2>
                      <p class="text-muted text-left">
                          {{{descripcion_eng}}}
                      </p>
                      {{#each imagenes}}
                        <img class="img-responsive img-centered" src="img/portfolio/{{../id}}/{{this}}" alt="">
                      {{/each}}
                      <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
  </div> 
</div>
